{% extends "base.html" %}
{% block content %}
<br>
<div class="container">    
    <a href="/"><p style="font-size:20px">Back</p></a>    
</div>
<iframe src='http://cdn.knightlab.com/libs/timeline/latest/embed/index.html?source=0Ao0poKLMPpi6dE5hcnpndWh2ek10djcybmF3SHBJZ3c#gid&font=Bevan-PotanoSans&maptype=toner&lang=en&height=650' width='100%' height='650' frameborder='0'></iframe>
<style>

body{
        background-color: white;
        font-family: 'Open Sans Condensed', sans-serif;
        font-size: 1em;
        color: #FFC08A;  
        
    }
</style>
{% endblock %}
