{% extends "base.html" %}
{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-xs-4 col-sm-4 col-md-4 draggable">
      <h1 class="summary" data-toggle="tooltip" data-placement="top" title="Hey, You can drag me!!" style="font-size:100px">DataGeekLab</h1>
    </div>
  </div>
  <div class="row">   
    <div class="col-xs-2 col-sm-2 col-md-1">
      <a  href="https://twitter.com/Dmartincc">
        <h1 class="summary" data-toggle="tooltip" data-placement="bottom" title="Do you want to know what I normally say on Twitter?" style="font-size:70px">
          <i class="fa fa-twitter"></i>
        </h1> 
      </a>   
    </div>
    <div class="col-xs-2 col-sm-2 col-md-1">
      <a href="https://github.com/dmartincc">
        <h1 class="summary" data-toggle="tooltip" data-placement="bottom" title="Github account with all my code" style="font-size:70px">
          <i class="fa fa-github"></i>
        </h1>
      </a>     
    </div> 
    <div class="col-xs-2 col-sm-2 col-md-1">
      <a href="https://www.linkedin.com/profile/view?id=96582781&trk=nav_responsive_tab_profile&locale=en_US">
        <h1 class="summary" data-toggle="tooltip" data-placement="bottom" title="My linkedin resume" style="font-size:70px">
          <i class="fa fa-linkedin"></i>
        </h1>
      </a>     
    </div>
    <div class="col-xs-2 col-sm-2 col-md-1">
      <a href="/about">
        <h1 class="summary" data-toggle="tooltip" data-placement="bottom" title="Visual Bio and Resume" style="font-size:70px">
          <i class="fa fa-graduation-cap"></i>
        </h1>
      </a>     
    </div>
    <div class="col-xs-2 col-sm-2 col-md-1">
      <a href="/stuff">
        <h1 class="summary" data-toggle="tooltip" data-placement="bottom" title="Stuff that I normally do when I'am bored" style="font-size:70px">
          <i class="fa fa-flask"></i>
        </h1>
      </a>     
    </div>   
  </div>
</div>
{% endblock %}